<html>
<head>
  <meta charset="UTF-8">
  <title>My App</title>
</head>
<body>
  <div id='app'><%- markup %></div>
  <script src='build.js'></script>

  <!-- to run node server ./node_modules/.bin/babel-node server.js -->
</body>
</html>
